.Python {
  background-color: var(--blue);
  color: var(--white);
}

.JavaScript {
  background-color: var(--yellow);
  color: var(--white);
}
.Html {
  background-color: var(--orange);
  color: var(--white);
}
.Sql {
  background-color: var(--red);
  color: var(--white);
}
.Css {
  background-color: var(--darkBlue);
  color: var(--white);
}
.React {
  background-color: var(--navyBlue);
  color: var(--white);
}

.iconColor {
  text-align: center;
  margin: 0 auto;
  padding: 1.5rem;
  width: 35%;
  border-radius: 0.8rem;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.12);
}

.iconColor svg {
  width: 3.5rem;
  height: 3.5rem;
}
